.tabs_user_profile {
  .ant-tabs-tab-btn {
    font-weight: 600;
    font-size: 15px;
  }
  .ant-tabs-nav-wrap {
    height: 50px;
  }
}
.tab_Introduce {
  .ant-tabs-tab {
    margin: 5px 10px 5px 0px !important;
  }
}
