.couser-sidebar {
  background-color: #fff;
  border-radius: 0.65rem;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
.tab-couses .ant-tabs-nav-wrap {
  background-color: #fff;
  padding: 0 11%;
  height: 55px;
  border-bottom: 1px solid #a8a8a8;
}
.button-couse-add-cart:hover {
  background-color: #71869d !important;
  color: #fff !important;
}
.boxShadow-couses {
  box-shadow: 0 4px 0 0 rgba(143, 156, 173, 0.2);
  border: 1px solid #e0e0e0;
}
