.TitileCourse {
  margin: auto !important;
  padding: 10px 0 10px 0;
  width: 100%;
}
:where(.css-dev-only-do-not-override-1c0na6j).ant-col-18 {
  max-width: 100% !important;
}
.Card_Course .ant-card-body {
  padding: 0;
}
