.Collapse_course_offline {
  border-radius: 0;
  .ant-collapse-content-box {
    padding: 0 !important;
  }
  .ant-collapse-header {
    padding: 8px 16px !important;
    border-bottom: 0.8px solid #e5e7eb;
  }
}
.Input_comment.ant-input {
  border-radius: 0 !important;
  border-bottom: 1px solid #000000 !important;
}
.Input_comment.ant-input:focus {
  box-shadow: none !important;
}
