.ant-layout-header {
  padding: 0 30px 0 30px;
}
.nav-menu-items .ant-menu-submenu-title {
  margin-left: 6px !important;
}
// .box-shadow-header {
//   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
// }
.header-wrapper {
  border-bottom: 1px solid #d7d7d7 !important;
}
.sider-bar {
  width: 260px !important;
  max-width: 260px !important;
  border-right: 1px solid #d7d7d7 !important;
}
.scrollable-wrapper::-webkit-scrollbar {
  width: 0; /* Chiều rộng của thanh cuộn */
}

/* Nếu bạn muốn tùy chỉnh hơn */
.scrollable-wrapper::-webkit-scrollbar-track {
  background: #fff; /* Màu của thumb */
}

.scrollable-wrapper::-webkit-scrollbar-thumb {
  background: #fff; /* Màu của thumb */
}
.scrollable-wrapper {
  overflow-y: auto;
}

/* Ẩn thanh cuộn */
.scrollable-wrapper::-webkit-scrollbar {
  width: 0;
}

/* Hiển thị thanh cuộn khi hover */
.scrollable-wrapper::-webkit-scrollbar {
  width: 2px; /* Độ rộng của thanh cuộn */
}

/* Màu của thanh cuộn khi hover */
.scrollable-wrapper::-webkit-scrollbar-thumb {
  background-color: #ededed;
}
