.calendar {
  max-width: 300px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days {
  display: flex;
}

.day {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.empty {
  height: 30px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button:focus {
  outline: none;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
