.menu-items-nav {
  height: 45px !important;
  span {
    margin-top: 1px;
    transform: translateX(-2px);
    font-size: 18px !important;
  }
}
.sider_bar_user_page {
  min-width: 60px !important;
}
